#container {
    height:900px;
    grid-template-columns:200px 400px repeat(2, 200px);
    grid-template-areas: 
        "header header  header  header"
        "main   main    main    sidebar"
        "box    second  second  sidebar"
        "most   most    most    most"
        "more   more    more    sidebar2"
        "footer footer  footer  footer";
    align-content:"stretch";
    justify-content: space-evenly;
}