#container {
    grid-template-columns: 100%;
    grid-gap: 0;
    grid-template-areas: 
        "header"
        "main"
        "sidebar"
        "box"
        "second"
        "most"
        "more"
        "sidebar2"
        "footer";
}